.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #d6d0d0;
    padding-inline: 10px;

    /* text-align: center; */
}

.spanJob {
    padding: 1px 5px;
    background-color: lightsalmon;
    border-radius: 3px;
}

p {
    margin: 5px;
    font-size: 14px;
}
